button{
    transition-duration: 0.6s;
    cursor: pointer;
}
.delete-button, .cancel-button{
    background-color: white;
    color: black;
    border: 2px solid red; /* Green */
}

.delete-button:hover, .cancel-button:hover {
    background-color: red; /* Green */
    color: white;
}

.not-todo-button{
    background-color: white;
    color: black;
    border: 2px solid blue; /* Green */
}

.not-todo-button:hover {
    background-color: blue; /* Green */
    color: white;
}



.todo-button, .save-button, .add-button{
    background-color: white;
    color: black;
    border: 2px solid green; /* Green */
}

.todo-button:hover, .save-button:hover, .add-button:hover {
    background-color: green; /* Green */
    color: white;
}







