.form-wrapper{
				height: 600px;
				width: 600px;
				margin: 10px auto 10px auto;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}

h1{
	font-size: 40px;
	text-align: center;
	margin:20px;
	color: #715636;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

input:hover{
	background: #E7CCAC
}
input:focus{
	outline: 3px #B99E7E groove;
	border: 3px #B99E7E groove;
}

input::-webkit-autofill{
	background: #E7CCAC
}


label, input {
	color: #715636;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
				font-size: 20px;

				margin: 10px 0 10px 0 ;
				display: block;
			} 
label{
	color: #715636;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}			

input {
	width:300px;
	height: 30px;
	border: 3px #B99E7E groove;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	
}

form{
	background: #FFE4C4;
	display: block;
	box-sizing: border-box;
	width: 400px; 
	height: 400px;
	margin: 10px auto 10px auto; 
	padding: 50px; 
	text-align: left;
	border-radius: 10px;
	border: 5px #B99E7E groove;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);


	/* border-style: groove ridge ridge groove; */
	/* display: table-cell;
	vertical-align: middle; */
}

button{
	font-size: 20px;
	height: 40px;
	box-sizing: border-box;
	padding: 0 20px 0 20px;
	display: block;
	margin: 30px auto 10px auto; 
	border: 3px #B99E7E groove;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	background-color: white;
    color: #715636;
    color: #715636;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

button:hover {
    background-color: #B99E7E; /* Green */
    color: white;
}