.main  {
    width: 600px;
    height: 600px;
    margin: 50px auto 0 auto;
    padding: 0;
    position: relative;

}

my-component-task{
    text-align: center;
}

my-component-task p{
    margin: 0;
}
